<div id="header-text">
	<div id="hero">
		<%= image_tag "hyperloop.jpg", :style => "width:100%;visibility:hidden" %>
	</div>
</div>
<div class="cells container">
	<div class="row">
		<div class="col-md-6">
			<h2>Who We Are</h2>
			<p>We are an interdisiplinary team of 30 students and professors competing in SpaceX's <a href="http://www.spacex.com/hyperloop">Hyperloop Pod Competition</a>. The competition involves designing and building a pod to be tested on a track constructed at SpaceX's Hawthorne headquarters in June 2016.</p>
		</div>
		<div class="col-md-6">
			<h2>What is the Hyperloop?</h2>
			<p>The <a href="http://www.spacex.com/hyperloopalpha">Hyperloop</a> is a proposed advanced method of high speed transportation between cities that are less than about 900 miles apart (e.g. Los Angeles and San Francisco). The system uses a capsule that is propelled through a low pressure steel tube as it rests on frictionless air bearings or magnets.</p>
		</div>
	</div>
	<%= image_tag("ucsbhyperloop.gif"), :style => "max-width:100%;" %>
	<a id="sponsors"></a>
	<h2>Sponsors</h2>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag("raytheon.jpg")%>
		</div>
		<div class="col-md-6">
			<%= image_tag("ir.png") %>
		</div>
	</div>
</div>
<div id="team-pic-bg">
	<%= image_tag "team.jpg", :id => 'team-pic' %>
</div>
<h3 id="team-title">Our Team</h3>
<div class="cells team container">
	<div class="row">
		<div class="col-md-6">
			<h3>Structures & Integration</h3>
			<ul>
				<li>Trevor Fritz</li>
				<li>Kyle Collett</li>
				<li>Lucas Dewey</li>
				<li>Viraj Khatri</li>
				<li>Nathan Ransom</li>
				<br>
				<li><em>Faculty Advisor:</em> <a href="https://designlab.me.ucsb.edu/">Tyler Susko</a>, PhD ME, MIT</li>
				<li><em>Graduate Student Advisor:</em> Petros Serbana</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Electrical Engineering</h3>
			<ul>
				<li>Chris Johnson</li>
				<li>Mary Alice Callaghan</li>
				<li>Juan Castillo</li>
				<li>Elena Georgieva</li>
				<li>Terrence Tran</li>
				<br>
				<li><em>Facutly Advisor:</em> <a href="http://www.tmp.ucsb.edu/about/lecturers/ilan-ben-yaacov">Ilan Ben-Yaacov</a>, PhD ECE, UCSB</li>
				<li><em>Power Electronics Advisor:</em> Jim Honea, PhD, ECE, UCSB</li>
				<li><em>Graduate Student Advisor:</em> Stephanie Johnson</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Aerodynamics & Levitation</h3>
			<ul>
				<li>Sarah Conley</li>
				<li>Dasun Hemachandra</li>
				<li>Annie Kim</li>
				<li>Kristine Lai</li>
				<li>Daniel Vong</li>
				<br>
				<li><em>Faculty Advisor:</em> <a href="https://me.ucsb.edu/people/greg-dahlen">Greg Dahlen</a>, PhD, ME, UCSB</li>
				<li><em>Graduate Student Advisor: </em>Brian Gibson</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Computer Engineering</h3>
			<ul>
				<li>Celeste Bean</li>
				<li>Connor Buckland</li>
				<li>Cameron McCarthy</li>
				<li>Ben Hartl</li>
				<li>Connor Mulcahey</li>
				<br>
				<li><em>Faculty Advisor:</em> <a href="http://www.ece.ucsb.edu/Faculty/Johnson/">John Johnson</a>, PhD ECE, UCSB</li>
				<li><em>Graduate Student Advisor:</em> Will Miller</li>
			</ul>
		</div>
		<div class="col-md-12">
			<h3>Finances & Marketing</h3>
			<ul>
				<li>Christian Arita</li>
			</ul>
		</div>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<h3>Contact & Updates</h3>
		<p><a href="mailto:ucsbhyperloop@gmail.com">ucsbhyperloop@gmail.com</a></p>
		<!-- <p><a href="">Facebook <i class="fa fa-external-link"></i></a></p> -->
		<p><a href="https://twitter.com/ucsbhyperloop">Twitter <i class="fa fa-external-link"></i></a></p>
	</div>
	
</footer>
